h1{
  color: black;
  font-family: "arial";
  font-size: 14;
}
p{
  color: darkgreen;
  font-family: "comics san";
  font-size: 16;
}
a{
  color: yellow;
}
body{
  background-image: url("3.png");
  background-repeat: repeat-x;
  background-size: 200px ;
  background-color: gray;

}
.img2{
  height: 100;
  width: 100;
  align-items: flex-end;
}
