h1{
  color: #708090;
  font-family: cursive;
  font-size: 14;
}
p{
  color: #B22222;
  font-family: "monotype corsiva";
  font-size: 16;
}
a{
  color: yellow;
}
body{
  background-image: url("2.jpg");
  background-repeat: repeat-x;
  background-size: 200px ;
  background-color: black;

}
.img1{
  height: 100;
  width: 100;
}
